*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

ProcessScheduling_bardi15_hallur14/.idea/*.
ProcessScheduling_bardi15_hallur14/.idea/misc.xml
ProcessScheduling_bardi15_hallur14/.idea/workspace.xml
ProcessScheduling_bardi15_hallur14/.idea/kotlinc.xml


# User-specific stuff:
ProcessScheduling_bardi15_hallur14/.idea/**/workspace.xml
ProcessScheduling_bardi15_hallur14/.idea/**/tasks.xml
ProcessScheduling_bardi15_hallur14/.idea/dictionaries

# Sensitive or high-churn files:
ProcessScheduling_bardi15_hallur14/.idea/**/dataSources/
ProcessScheduling_bardi15_hallur14/.idea/**/dataSources.ids
ProcessScheduling_bardi15_hallur14/.idea/**/dataSources.xml
ProcessScheduling_bardi15_hallur14/.idea/**/dataSources.local.xml
ProcessScheduling_bardi15_hallur14/.idea/**/sqlDataSources.xml
ProcessScheduling_bardi15_hallur14/.idea/**/dynamic.xml
ProcessScheduling_bardi15_hallur14/.idea/**/uiDesigner.xml

# Gradle:
ProcessScheduling_bardi15_hallur14/.idea/**/gradle.xml
ProcessScheduling_bardi15_hallur14/.idea/**/libraries

# Mongo Explorer plugin:
ProcessScheduling_bardi15_hallur14/.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
ProcessScheduling_bardi15_hallur14/.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties